@page "/denegado"

<PageTitle>Acceso denegado</PageTitle>

<div class="alert alert-warning mt-4">
    <h4 class="alert-heading">Acceso denegado</h4>
    No tenés permisos para acceder a este recurso. Si creés que es un error, contactá al administrador.
</div>
